@import "bootstrap/dist/css/bootstrap.min.css";

.main {
  /* position: relative;*/
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  display: inline-flexbox;

}

.navbar {
  display: flex;
  top: 0;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-radius: 40px;

}

/* Remove background from app-navbar as it's now handled by page-wrapper */
app-navbar {
  display: block;
  width: 100%;
}

.servicesportfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

.choose_us {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}
.projects {
  display: grid;
  width: 100%;
  height: auto;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
}

.Testimonials {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}