* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}

body {
    background: #f5f7fa;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(to bottom, #fff, #f3f9f8);
}
.social-icons img{
    width: 18px;
    height: auto;

}
.tagline {
    background: #f0f3f5;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.sub-text {
    color: #444;
    max-width: 550px;
    margin: auto;
    margin-bottom: 30px;
}

.buttons .btn {
    padding: 12px 22px;
    border-radius: 10px;
    margin: 8px;
    font-size: 15px;
    display: inline-block;
}

.btn.dark {
    background: #1e3d52;
    color: #fff;
}

.btn.light {
    border: 2px solid #1e3d52;
    color: #1e3d52;
}

/* MOVING TICKER BAR */
.ticker {
    background: #1e6570;
    color: white;
    padding: 12px 0;
    overflow: hidden;
}

.ticker-wrap span {
    display: inline-block;
    white-space: nowrap;
    animation: move 15s linear infinite;
}

@keyframes move {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* FOOTER SECTION */
.footer {
    background: linear-gradient(to bottom, #d9f0f3, #f4e2c9);
    padding-top: 50px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-left .logo {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.footer-left p {
    margin-bottom: 15px;
}

.social-icons a {
    font-size: 22px;
    margin-right: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section ul li {
    list-style: none;
    margin-bottom: 8px;
    color: #444;
}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 1px solid #c3d4d8;
    font-size: 14px;
}

.footer-bottom .right-links a {
    color: #333;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}