* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}

body {
    background: #f5f7fa;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(to bottom, #fff, #f3f9f8);
}
.social-icons img{
    width: 18px;
    height: auto;

}
.tagline {
    background: #f0f3f5;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 28px;
    font-weight: 400;
    display: inline;
    margin-bottom: 20px;
    width: 407px;
    height: 58px;
    text-align: center;
}

.hero h1 {
    font-size: 72px;
    margin-bottom: 15px;
    line-height: 100%;
    font-weight: 600;
}

.sub-text {
    color: #444;
    font-size: 28px;
    font-weight: 400;
    max-width: 550px;
    line-height: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}

.buttons .btn {
    padding: 12px 22px;
    border-radius: 10px;
    margin: 8px;
    font-size: 15px;
    display: inline-block;
}

.btn.dark {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: linear-gradient(90deg, #BBE3E5 0%, #FAEDDD 100%);
    box-shadow: 0px 0px 35px rgba(187, 227, 229, 0.25);
    border-radius: 8px;
   color: #050304;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
}

.btn.light {
    /* btn */

    box-sizing: border-box;

/* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    

    background: linear-gradient(90deg, rgba(187, 227, 229, 0.01) 0%, rgba(250, 237, 221, 0.01) 100%);
    border: 1px solid #D8BF89;
    box-shadow: 0px 0px 20px rgba(187, 227, 229, 0.25);
    border-radius: 8px;
    color: #1e3d52;
}

/* MOVING TICKER BAR */
.ticker {
    background: linear-gradient(90deg, #247785 0%, #D8BF89 100%);
    box-shadow: 0px 2.86245px 17.1747px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 12px 0;
    overflow: hidden;
    
}

.ticker-wrap span {
    display: inline-block;
    white-space: nowrap;
    animation: move 15s linear infinite;
    font-size: 30.06px;
    font-weight: 600;
    line-height: 100%;
}

@keyframes move {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* FOOTER SECTION */
.footer {
    background: linear-gradient(360deg, #D8BF89 0%, #BBE3E5 100%);
    border: 1px solid rgba(242, 250, 252, 0.5);
    border-radius: 20px;
    padding-top: 50px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-left .logo img {
    width: 359px;
    height: 96px;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 15px;
    color: #050304;
}

.social-icons a img {
    width: 44px;
    height: 45px;
    margin-right: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
    color: #050304;
    display: inline-flex;
    align-items: center;
}

.footer-section ul li {
    list-style: none;
    margin-bottom: 8px;
    color:#247785;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 1px solid #c3d4d8;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: #247785;
}

.footer-bottom .right-links a {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: #247785;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}