  <section class="testimonials">
    <div class="tag">Testimonials</div>
    <div class="sub-tag">
    <h1>Trusted by Innovators Worldwide</h1>
    </div>
  <div class="slider-container">
  <div class="slider-wrapper" #sliderWrapper>
    <div class="slide" *ngFor="let item of testimonials; let i = index" [class.active]="i === currentIndex"
      (click)="goTo(i)">
      <div class="testimonial-card">
        <p class="testimonial-text">{{ item.text }}</p>
        <hr>
        <div class="testimonial-profile">
          <div class="profile-img">
            <img [src]="item.img" alt="{{ item.name }}" class="profile-img">
          </div>
          <div class="profile-info">
            <h4 class="profile-name">{{ item.name }}</h4>
            <span class="profile-role">{{ item.role }}</span>
          </div>
        </div>

        <div class="rating-stars">
          <!-- Render 5 stars -->
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Dots Navigation -->
  <div class="dots-container">
    <span *ngFor="let d of dots; let i = index" class="dot" [class.active-dot]="i === currentIndex" (click)="goTo(i)">
    </span>
  </div>
</div>
</section>

