/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
body{
    background-image:url(./assets/images/Group\ 2.png) ;
}
/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden;
}
* {
  font-family: 'Work Sans', sans-serif !important;
}
